<!DOCTYPE html>
<html>

<head>
    <title>EverythingMeat Email Verification</title>
</head>

<body>
    <h1>Password Reset Request</h1>
    <h4>Your reset code is: {{code}}</h4>
    <p>Enter this code in the reset code form to complete the process.</p>
    <p>This code expires in 2 mniutes</p>
    <p>If you did not request this code, please ignore this email.</p>
    <p>Thank you for using EverythingMeat!</p>
</body>

</html>