<!DOCTYPE html>
<html>

<head>
    <title>Geo-Collect Account Creation</title>
</head>

<body>
    <h1><strong>{{role}}</strong>Account Created - Temporary Password</h1>
    <p>Your temporary password is: <strong>{{password}}</strong></p>
    <p>Please log in and change your password.</p>
    <p>Thank you for using Geotrak</p>
</body>

</html>