<!DOCTYPE html>
<html>

<head>
    <title>EverythingMeat Email Verification</title>
</head>

<body>
    <h1>Email Verification Code</h1>
    <p>Please click the link below to verify your email:</p>
    <a href="{{verificationLink}}">Verify Email</a>
    <p>Thank you for using EverythingMeat!</p>
</body>

</html>